__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/
.env

data/processed/
data/augmented/
experiments/mlruns/
logs/
models/*.pth
models/*.onnx
models/*.tflite
reports/figures/

.ipynb_checkpoints/
