albumentations
dvc
fastapi
imagehash
mlflow
matplotlib
numpy
onnx
onnxruntime
opencv-python
optuna
pandas
Pillow
pytest
python-multipart
PyYAML
scikit-learn
scipy
seaborn
torch
torchvision
uvicorn
xgboost
